.body-box-div {
    height: calc(100% - 61px);
    width: 70%;
  
    border-right: 1px solid black;
    border-left: 1px solid black;
  
    position: absolute;
    top: 61px;
    left: 60px;

    overflow-y: scroll;
    overflow-x: hidden;


    --text-color: #999999;
    --chart-column-color: #009966;
}
.itemFormDataBaseDiv {
    height: 120px;
    width: 97%;

    position: relative;
    left: calc(2% - 13px);
    
    margin: 10px;

    border: 2px solid black;
    border-radius: 20px;
}
.itemFormDataBaseDiv:hover {

    border: 2px solid red;
}

.idBox {
    width: auto;
    max-width: 40%;
    
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    left: 30px;
    top: -10px;

    color: var(--text-color);
}
.tradingNameBox {
    width: auto;
    max-width: 50%;

    position: absolute;
    top: 35px;
    left: 30px;

    font-size: 30px;
}
.tradingNameText {
    font-weight: bold;
    font-size: 15px;

    position: absolute;
    top: 35px;
    left: 30px;
}
.amountBox {
    width: auto;
    max-width: 30%;

    position: absolute;
    top: 5px;
    left: 30%;


    font-size: 40px;
}
.amountText {
    position: absolute;
    left: 30%;

    font-weight: bold;
    font-size: 20px;

}

.datePurchaseText {
    position: absolute;
    left: 65%;
    top: -5px;

    font-weight: bold;
    font-size: 20px;
}

.datePurchaseBox {
    position: absolute;
    left: 78%;
    top: -5px;

    font-size: 20px;
}

.dateInputText {
    position: absolute;
    left: 65%;
    top: 45px;

    font-weight: bold;
    font-size: 20px;
}

.dateInputBox {
    position: absolute;
    left: 78%;
    top: 45px;

    font-size: 20px;
}

.NothingBox-div {
    height: 350px;
    width: 600px;

    position: relative;
    top: calc(50% - 200px);
    left: calc(50% - 300px);

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}
#nothing-icon {
    scale: 3;
    position: relative;
    top: 20%;

    margin: auto;
}
.nothingText-p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -10%;

    text-align: center;
    margin-top: 0;

    color: var(--text-color);
}


.columnChartBox:hover {
    background-color: var(--chart-column-color);
}