.body-box-div {
    height: calc(100% - 61px);
    width: 70%;
  
    border-right: 1px solid black;
    border-left: 1px solid black;
  
    position: absolute;
    top: 61px;
    left: 60px;

    overflow-y: scroll;
    overflow-x: hidden;


    --text-color: #999999;
    --chart-column-color: #009966;
}
.itemFormDataBaseDiv {
    height: 120px;
    width: 97%;

    position: relative;
    left: calc(2% - 13px);
    
    margin: 10px;

    border: 2px solid black;
    border-radius: 20px;
}
.itemFormDataBaseDiv:hover {

    border: 2px solid red;
}

.idBox {
    width: auto;
    max-width: 40%;
    
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    left: 30px;
    top: -10px;

    color: var(--text-color);
}
.tradingNameBox {
    width: auto;
    max-width: 50%;

    position: absolute;
    top: 35px;
    left: 30px;

    font-size: 30px;
}
.tradingNameText {
    font-weight: bold;
    font-size: 15px;

    position: absolute;
    top: 35px;
    left: 30px;
}
.amountBox {
    width: auto;
    max-width: 30%;

    position: absolute;
    top: 5px;
    left: 30%;


    font-size: 40px;
}
.amountText {
    position: absolute;
    left: 30%;

    font-weight: bold;
    font-size: 20px;

}

.datePurchaseText {
    position: absolute;
    left: 65%;
    top: -5px;

    font-weight: bold;
    font-size: 20px;
}

.datePurchaseBox {
    position: absolute;
    left: 78%;
    top: -5px;

    font-size: 20px;
}

.dateInputText {
    position: absolute;
    left: 65%;
    top: 45px;

    font-weight: bold;
    font-size: 20px;
}

.dateInputBox {
    position: absolute;
    left: 78%;
    top: 45px;

    font-size: 20px;
}

.NothingBox-div {
    height: 350px;
    width: 600px;

    position: relative;
    top: calc(50% - 200px);
    left: calc(50% - 300px);

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}
#nothing-icon {
    scale: 3;
    position: relative;
    top: 20%;

    margin: auto;
}
.nothingText-p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -10%;

    text-align: center;
    margin-top: 0;

    color: var(--text-color);
}


/* /////////////////Chart - Horizontal////////////////// */
.chartBox-div {
    height: 550px;
    width: 40%;
    
    position: relative;
    left: 1%;
    top: 15px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    overflow-y: scroll;
    
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    box-shadow: 3px 3px 10px 0px #888888;
}

.columnChartBox:hover {
    border: 3px solid black !important;
}
.columnChartBox:hover > .TextContentChart-div {
    opacity: 1;
}

.TextContentChart-div {
    height: 100%;
    width: 80px;

    position: absolute;
    right: -80px;
    top: -1px;

    opacity: 0;
    transition: .3s;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.TextContentChart-p {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #999999;
    position: relative;
}

.columnChartBox {
    height: 90%;
    
    border: 1px solid black;
    position: absolute;
    left: 20%;
    align-items: center;
    background-color: #FFCCFF;
    
}

.date-char-v-p {
    position: absolute;
    left: 10px;
    
    width: 90px;
    height: auto;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: #999999;
}

.ColumnContainer-div {
    width: 100%;
    height: 30px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
/* ///////////////////////// */
.chartBox-vertical-div {
    height: 300px;
    width: 56%;

    position: relative;
    top: -535px;
    left: 43%;

    display: grid;
    grid-column-gap: 30px;

    box-shadow: 3px 3px 10px 0px #888888;
    border-radius: 15px;
}
.ColumnContainer-vertical-div {
    height: 100%;
    width: 30px;
    
    margin: 0;

    left: 20px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columnChartBox-vertical {
    bottom: 50px;

    border: 1px solid black;
    position: absolute;
    left: 20%;
    background-color: #ccffe3;

}
.columnChartBox-vertical:hover {
    border: 3px solid black !important;
}
.columnChartBox-vertical:hover > .TextContentChart-vertical-div {
    opacity: 1;
}

.TextContentChart-p-vertical {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #999999;
    position: relative;
}

.TextContentChart-vertical-div {
    height: 25px;
    width: 120px;

    position: absolute;
    left: -45px;
    top: -33px;
    
    opacity: 0;
    transition: .3s;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-char-vertical-p {
    position: absolute;
    bottom: 10px;
    left: -5px;

    height: 20px;
    width: 50px;

    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}