.body-box-div {
    height: calc(100vh - 61px);
    width: 70%;
  
    border-right: 1px solid var(--border-color-default);
    border-left: 1px solid var(--border-color-default);
  
    position: absolute;
    left: 60px;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--body-box-color);
}

.itemFormDataBaseDiv {
    height: 120px;
    width: 97%;

    position: relative;
    left: calc(2% - 13px);
    
    margin: 10px;

    border: 2px solid var(--text-color-id);
    border-radius: 20px;
    overflow-x: hidden;
}
.itemFormDataBaseDiv:hover {
    border: 2px solid var(--text-remaining-color);
}
/* ////////icon delete/////////// */
#delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}
.itemFormDataBaseDiv:hover #delete-icon {
    opacity: 1;
}
/* /////////////////////////////// */
.idBox {
    width: auto;
    max-width: 40%;
    
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    left: 30px;
    top: -10px;

    color: var(--text-color-id);
}
.tradingNameBox {
    width: auto;
    max-width: 50%;

    position: absolute;
    top: 35px;
    left: 30px;

    font-size: 30px;
    color: var(--color-text-normal);
}
.tradingNameText {
    font-weight: bold;
    font-size: 15px;

    position: absolute;
    top: 35px;
    left: 30px;
    
    color: var(--color-text-normal);
}
.amountBox {
    width: auto;
    max-width: 30%;

    position: absolute;
    top: 5px;
    left: 30%;

    font-weight: bold;
    font-size: 40px;
    color: var(--color-text-normal);
}
.amountText {
    position: absolute;
    left: 30%;

    font-size: 20px;
    color: var(--color-text-normal);
}

.datePurchaseText {
    position: absolute;
    left: 65%;
    top: -5px;

    font-weight: bold;
    font-size: 20px;
    color: var(--color-text-normal);
}

.datePurchaseBox {
    position: absolute;
    left: 78%;
    top: -5px;

    font-size: 20px;
    color: var(--color-text-normal);
}

.dateInputText {
    position: absolute;
    left: 65%;
    top: 45px;

    font-weight: bold;
    font-size: 20px;
    color: var(--color-text-normal);
}

.dateInputBox {
    position: absolute;
    left: 78%;
    top: 45px;

    font-size: 20px;
    color: var(--color-text-normal);
    
}

.NothingBox-div {
    height: 350px;
    width: 600px;

    position: relative;
    top: calc(50% - 200px);
    left: calc(50% - 300px);

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}
#nothing-icon {
    scale: 3;
    position: relative;
    top: 20%;

    margin: auto;
}
.nothingText-p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -10%;

    text-align: center;
    margin-top: 0;

    color: var(--text-color-id);
}


/* /////////////////Chart - Horizontal////////////////// */
.chartBox-div {
    height: 550px;
    width: 40%;
    
    position: relative;
    left: 1%;
    top: 15px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    overflow-y: scroll;
    
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    box-shadow: 0 0 10px 0px var(--box-shadow-color);
}

.TextContentChart-div {
    height: 100%;
    width: 80px;

    position: absolute;
    right: -80px;
    top: -1px;

    transition: .3s;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.TextContentChart-p {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--text-color-id);
    position: relative;
}
.columnChartBox:hover > .TextContentChart-div > .TextContentChart-p {
    color: var(--border-color-chart-hover);
    animation: chartAmountAnimate 1s ease-in-out infinite;
}
@keyframes chartAmountAnimate {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
}

.columnChartBox {
    height: 90%;
    
    border: 3px solid var(--border-color-char-normal);
    position: absolute;
    left: 20%;
    align-items: center;
    background-color: var(--background-color-chart);
    
}
.columnChartBox:hover {
    border: 3px solid var(--border-color-chart-hover) !important;
    
}


.date-char-v-p {
    position: absolute;
    left: 10px;
    
    width: 90px;
    height: auto;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: var(--text-color-id);
}

.ColumnContainer-div {
    width: 100%;
    height: 30px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
#title-chart-month {
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-normal);
}
/* ///////////////////////// */
.chartBox-vertical-div {
    height: 300px;
    width: 56%;

    position: relative;
    top: -535px;
    left: 43%;

    display: grid;
    grid-template-rows: 35px auto;
    grid-column-gap: 30px;

    box-shadow: 0 0 15px 0px var(--box-shadow-color);
    border-radius: 15px;
}
.ColumnContainer-vertical-div {
    height: 100%;
    width: 30px;
    
    margin: 0;

    left: 20px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columnChartBox-vertical {
    bottom: 50px;

    border: 3px solid var(--border-color-char-normal);
    position: absolute;
    left: 20%;
    background-color: var(--background-color-chart);

}
.columnChartBox-vertical:hover {
    border: 3px solid var(--border-color-chart-hover) !important;
}

.TextContentChart-p-vertical {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--text-color-id);
    position: relative;
    transition: .5s;
}
.TextContentChart-vertical-div {
    height: 25px;
    width: 120px;

    position: absolute;
    left: -47px;
    top: -30px;
    
    opacity: 1;
    transition: .3s;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.columnChartBox-vertical:hover > .TextContentChart-vertical-div > .TextContentChart-p-vertical {
    color: var(--border-color-chart-hover);
    transform: translateY(-5px); 
}


.date-char-vertical-p {
    position: absolute;
    bottom: 10px;
    left: -3px;

    height: 20px;
    width: 50px;

    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color-id);
}
#title-chart-year {
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 /span 12;
    color: var(--color-text-normal);
}


/* ////////////////Scrollbar///////////////// */
::-webkit-scrollbar {
    background-color: var(--body-box-color);
    width: 5px;
  
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-color);
    
}

