.LeftBox-div {
    position: absolute;
    top: 61px;

    height: calc(100% - 61px);
    width: 300px;

    border-right: 1px solid var(--color-text-normal);

    transition: .5s;

    background-color: var(--background-navigation-bar);

    z-index: 10;
}

#LeftBox-close {
    transform: translateX(-301px);
}
#LeftBox-open {
    transform: translateX(0px);
}


.InputNameGiver-input {
    height: 30px;
    width: 250px;

    position: relative;
    left: 20px;

    font-size: 18px;

    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
}
.InputReceive-input {
    height: 30px;
    width: 250px;

    position: relative;
    left: 20px;

    font-size: 18px;

    margin-bottom: 10px;
    border: none;
    border-radius: 5px;

}

.DateReceive-box {
    height: 30px;
    width: 120px;
    font-size: 15px;

    position: relative;
    right: -40px;
    border: none;
    border-radius: 5px;

}
.ReceiveSubmit-button {
    height: 30px;
    width: 110px;
    font-size: 15px;

    position: relative;
    left: 20px;
    border: none;
    border-radius: 5px;

}

.ReceiveText-h2 {
    color: var(--color-text-normal);
}

/* ////////user box///////// */
.user-box {
    height: 50px;
    width: 100%;
    
    position: absolute;
    bottom: 20px;
}   

.user-img-avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
   
    position: relative;
    left: 10px;
}
.user-name-p {
    height: 30px;
    width: 70%;

    position: absolute;
    left: 25%;
    bottom: -10px;

    color: var(--color-text-normal);
    font-size: 20px;
}


.Form-box-form-left {
    height: 220px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}
.add-purchase-text-h1-left {
    font-size: 22px;
    color: var(--color-text-normal);
    grid-column: 1 /span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.trading-name-input-left {
    height: 25px;
    width: 250px;

    justify-self: center;
    
    grid-column: 1 /span 2;
    border-radius: 5px;
    border: none;
}
.spend-amount-input-left {
    height: 25px;
    width: 250px;
    justify-self: center;
    
    border-radius: 5px;
    grid-column: 1 /span 2;
    border: none;
}
.currency-select-left {
    height: 30px;
    width: 122px;
    justify-self: right;
    border-radius: 5px;
    border: none;
}
.spend-date-input-left {
    height: 30px;
    width: 121px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.spend-tag-select-left {
    height: 27px;
    width: 119px;
    border-radius: 5px;
    border: none;
    justify-self: right;
}