.Right-Box-div {
    height: calc(100% - 61px);
    width: calc(30% - 62px);
  
    background-color: white;
  
    position: absolute;
    right: 0px;
    top: 61px;

    overflow-y: scroll;
    overflow-x: hidden;

    --text-total: brown;
    --text-remaining: #009900;
}

.Form-box-form {
  height: 150px;
  width: 90%;

  border-radius: 10px;

  position: relative;
  top: 20px;
  left: 5%;

  background-color: white;
  box-shadow: 3px 3px 10px 0px #555555;

}
.Form-box-form :nth-child(1) {
  height: 25px;
  width: calc(100%  - 20px);

  text-align: center;
  font-size: 20px;

  position: absolute;
  left: 10px;
}
.Form-box-form :nth-child(2) {
  height: 25px;
  width: 250px;

  position: absolute;
  top: 60px;
  left: 10px;
}
.Form-box-form :nth-child(3) {
  height: 25px;
  width: 160px;

  position: absolute;
  top: 60px;
  right: 10px;
}
.Form-box-form :nth-child(4) {
  height: 25px;
  width: 160px;

  position: absolute;
  top: 105px;
  left: 10px;
}
.Form-box-form :nth-child(5) {
  height: 28px;
  width: 160px;

  position: absolute;
  top: 105px;
  right: 10px;
}
.Form-box-form :nth-child(6) {
  height: 31px;
  width: 85px;

  position: absolute;
  top: 105px;
  left: 184px;
}



.CalenderInformation-div {
  height: 460px;
  width: 90%;

  border-radius: 10px;

  position: relative;
  top: 30px;
  left: 5%;

  background-color: white;
  box-shadow: 3px 3px 10px 0px #555555;
}
.informationText-h3 {
  text-align: center;
  position: relative;
  top: 10px;
}

/* Google calender */
iframe {
  border: 0;
  width: 90%;
  height: 350px;

  position: relative;
  left: 5%;
}


.TotalInMonthBox-h2 {
  position: absolute;
  bottom: 0px;
  left: 20px;
}



.TotalBox-div {
  height: 60px;
  width: 90%;

  border-radius: 10px;

  position: relative;
  top: 70px;
  left: 5%;

  background-color: white;

  margin-bottom: 10px;
  box-shadow: 3px 3px 10px 0px #555555;
}

.Total-h2 {
  font-size: 25px;

  position: absolute;
  bottom: -5px;
  left: 20px;

  color: var(--text-total);
}

.RemainingBox-div {
  height: 60px;
  width: 90%;

  border-radius: 10px;

  position: relative;
  top: 80px;
  left: 5%;

  background-color: white;
  box-shadow: 3px 3px 10px 0px #555555;
}
.Remaining-h2 {
  font-size: 25px;

  position: absolute;
  bottom: -5px;
  left: 20px;

  color: var(--text-remaining);
}