* {
  --color-text-normal: white;
  --color-Admin-text-h1: white;
  --background-color: #1b1c24;
}

.TopBar-box-div {
  height: 60px;
  width: 100%;

  border-bottom: 1px solid black;

  display: grid;
  grid-template-columns: 90px 245px 200px auto 350px 25px 120px 20px;
  grid-template-rows: 60px;

  position: absolute;
  background-color: var(--background-color);
}



/* ////////////////////reload button//////////////////// */
.Reload-button {
  height: 50px;
  width: 115px;

  position: relative;
  top: 5px;

  overflow: hidden;

  font-weight: bold;

  border-radius: 20px;
  border-style: none;
}
.Reload-button::before {
  content: 'Reload Data';
  color: var(--color-text-normal);
  font-weight: bold;
  font-size: 15px;

  /* chữ trong suốt */
  mix-blend-mode: multiply;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 113px;

  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;

  overflow: hidden;
  border-radius: 20px;

  background-color: var(--body-box-color);
  transition: .5s;
}
.Reload-button::after {
  content: '';

  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  width: 120px;

  position: absolute;
  z-index: 1;
  top: -30px;
  left: -2px;

  overflow: hidden;
  border-radius: 50%;
  
  background: rgb(255,81,55);
  background: linear-gradient(45deg, rgba(255,81,55,1) 15%, rgba(255,243,63,1) 30%, rgba(46,255,84,1) 50%, rgba(95,117,255,1) 70%, rgba(255,68,254,1) 90%);

  transition: 1s;
  transform-origin: center;
}
.Reload-button:hover::after {
  transform: rotate(360deg);
}
/* //////////////////////////////////////// */

.Text-Admin-h1 {
  height: 100%;
  width: 100%;

  text-align: center;
  margin: 5px;
  color: var(--color-Admin-text-h1);
}


.Since-ToDateBox-div {
  position: relative;
}
.SinceText-p {
  position: absolute;
  top: -10px;
  left: 10px;

  color: var(--color-text-normal);
  font-weight: bold;
}
.dateSince-input {
  position: absolute;
  top: 30px;
  left: 10px;
}

.ToDateText-p {
  position: absolute;
  top: -10px;
  left: 180px;

  color: var(--color-text-normal);
  font-weight: bold;
}
.dateToDate-input {
  position: absolute;
  top: 30px;
  left: 180px;
}

.leftBoxHide-button {
  height: 40px;
  width: 40px;

  position: relative;
  left: 10px;
  top: 10px;

  font-size: 20px;
  font-weight: bold;
}

.ReceiveText-h2 {
  text-align: center;
  position: relative;
}

/* ///////////input search//////////// */
.searchBox-form {
  height: 45px;
  width: 650px;

  position: relative;
  left: 5%;
  top: 12%;
  

  border: 1px solid red;
  border-radius: 20px;

  background-color: var(--background-navigation-bar);
}
.searchInput-input {
  height: 43px;
  width: 557px;

  position: relative;
  top: 0;
  left: 3%;

  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  font-size: 20px;
  color: var(--color-text-normal);

  outline: none;
  background-color: var(--background-navigation-bar);
}
.searchSubmit-inputBtn {
  height: 100%;
  width: 70px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;

  
}
.searchSubmit-inputBtn::before {
  content: 'Hello';
  height: 100px;
  width: 100px;

  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2;

  background: rgb(255,81,55);
  background: linear-gradient(45deg, rgba(255,81,55,1) 15%, rgba(255,243,63,1) 30%, rgba(46,255,84,1) 50%, rgba(95,117,255,1) 70%, rgba(255,68,254,1) 90%);
}

/* ///////////////////////// */
.Select-tag-sel {
  height: 50%;
  width: 80%;

  font-size: 20px;

  position: relative;
  top: 25%;
  left: 15%;

}