.TopBar-box-div {
  width: 100vw;
  /* height: 230px; */
  height: 60px;

  border-bottom: 1px solid black;

  display: grid;
  grid-template-columns: 2fr 5fr 5fr 21fr 11fr 6fr;
  grid-template-rows: 60px;
  grid-gap: 20px;

  position: relative;
  background-color: var(--background-color);
  align-items: center;

  overflow: hidden;
}
/* //////////////////////////////////////// */

.Text-Admin-h1 {
  margin: 0;
  display: flex;
  align-self: center;

  font-size: clamp(17px, 1.4vw, 30px);

  color: var(--color-Admin-text-h1);
}


.Since-ToDateBox-div {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
}
.SinceText-p {
  margin: 0;
  align-self: center;
  color: var(--color-text-normal);
  font-weight: bold;
  grid-column: 1 /span 2;
  justify-self: center;
}
.dateSince-input {
  height: 70%;
  border: 1px solid var(--color-text-normal);
  border-radius: 5px;
  font-size: 15px;
  grid-column: 1 /span 2;
  position: relative;
  left: 5px;
  justify-self: center;
}

.ToDateText-p {
  margin: 0;
  align-self: center;
  color: var(--color-text-normal);
  font-weight: bold;
  grid-column: 3 /span 2;
  justify-self: center;
}
.dateToDate-input {
  height: 70%;
  border: 1px solid var(--color-text-normal);
  border-radius: 5px;
  font-size: 15px;
  grid-column: 3 /span 2;
  justify-self: center;
}
/* ////////////////////reload button//////////////////// */
#reload-box-btn {
  height: 70%;
  width: 90%;

  position: relative;
  
  align-self: center;

  grid-column: 5 /span 2;
  grid-row: 1 /span 2;
}
#reload-box-btn .button-rainbow::before {
  content: 'Reload Data' !important;
}
/* /////////////////////////////////////////////////// */

.leftBoxHide-button {
  height: 40px;
  width: 40px;

  position: relative;
  left: 10px;

  font-size: 20px;
  font-weight: bold;
}

.ReceiveText-h2 {
  text-align: center;
  position: relative;
}

/* ///////////input search//////////// */
.searchBox-form {
  height: 45px;
  width: 90%;

  position: relative;
  left: 5%;
 
  border-radius: 20px;

  background-color: var(--background-navigation-bar);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchInput-input {
  height: 43px;
  width: calc(95% - 75px);

  position: relative;
  top: 0;
  left: 3%;

  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  font-size: 20px;
  color: var(--color-text-normal);

  outline: none;
  background-color: var(--background-navigation-bar);

}

/* search btn */
#button-search-top-bar {
  height: 35px;
  width: 75px;
  position: absolute;
  right: 6px;
}


/* select tab page */
.Select-tag-sel {
  height: 50%;
  width: 90%;

  font-size: clamp(13px, 1vw, 26px);
  color: var(--color-text-normal);

  position: relative;
  

  border-radius: 10px;
  background-color: var(--background-navigation-bar);

}